{% extends 'base.html.twig' %}
{% block body %}
	<div class="container">
		<div class="four">
				<h1>LOGIN</h1>
			
				<p>Connectez-vous sur la page Admin</p>
				
					 <form method="post" action="/login.html">
				        <p><input type="text" name="username" value="" placeholder="Votre login"></p>
				        <p><input type="password" name="password" value="" placeholder="Votre mot de passe"></p>
				        <p><input type="submit" value="Envoyer" name="submit"></p>
				        <p class="remember_me">
				          <label>
				            
				            Bonne route sur votre application !
				          </label>
				        </p>
				        
				      </form>
				
			</div>
</div>
{% endblock %}	